---
import WeekdayCalculator from '../components/WeekdayCalculator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Weekday Calculator">
  <main>
    <h1
      class="px-5 py-3 text-center text-2xl font-bold sm:text-left md:text-4xl"
    >
      Weekday Calculator
    </h1>
    <WeekdayCalculator />
  </main>
</Layout>
