---
import WeekdayCalculator from '../components/WeekdayCalculator';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Weekday Calculator">
  <main class="h-full bg-hero-pattern">
    <h1
      class="px-5 py-3 text-center text-2xl font-bold sm:text-left md:text-4xl"
    >
      Weekday Calculator
    </h1>
    <WeekdayCalculator client:load />
  </main>
</Layout>
