---
import DayPicker from './DayPicker.astro';
import MonthPicker from './MonthPicker.astro';
import YearPicker from './YearPicker.astro';
---

<div class="mt-4 flex flex-row items-center justify-center gap-3">
  <DayPicker />
  <MonthPicker />
  <YearPicker />
</div>
