---
import { Month } from '../utils/date';

const months = Array.from({ length: 12 }, (_, i) => i + 1);
const currentMonth = new Date().getMonth() + 1;
---

<label>
  <p class="mb-1">Month</p>
  <select
    data-month-input
    class="border-spacing-1 rounded-sm p-1 text-lg text-slate-900"
  >
    {
      months.map((month) => (
        <option selected={month === currentMonth} value={Month[month]}>
          {Month[month]}
        </option>
      ))
    }
  </select>
</label>
