---
export enum Month {
  January = 1,
  February,
  March,
  April,
  May,
  June,
  July,
  August,
  September,
  October,
  November,
  December,
}

const months = Array.from({ length: 12 }, (_, i) => i + 1);
---

<label>
  <p class="mb-1">Month</p>
  <select
    data-month-input
    class="border-spacing-1 rounded-sm p-1 text-lg text-slate-900"
  >
    {
      months.map((month) => (
        <option selected={month === 1} value={Month[month]}>
          {Month[month]}
        </option>
      ))
    }
  </select>
</label>
