---
import DatePicker from './DatePicker.astro';
---

<article class="flex flex-col items-center gap-5">
  <section>
    <DatePicker />
  </section>
  <section class="pt-2" data-weekday>
    <p class="px-2 text-2xl sm:text-4xl"></p>
    <p
      class="bg-gradient bg-clip-text px-2 pb-10 text-center text-6xl font-black tracking-tight text-transparent sm:text-8xl md:text-9xl lg:text-[10rem] xl:text-[13rem]"
    >
    </p>
  </section>
</article>
<script>
  import { calculateWeekday, Weekday } from '../utils/calculateWeekday';
  import type { Month } from './MonthPicker.astro';

  const dayInput = document.querySelector(
    '[data-day-input]',
  ) as HTMLSelectElement;
  const monthInput = document.querySelector(
    '[data-month-input]',
  ) as HTMLSelectElement;
  const yearInput = document.querySelector(
    '[data-year-input]',
  ) as HTMLInputElement;
  const dropdownButtons = document.querySelectorAll(
    '[data-year-dropdown] button',
  ) as NodeListOf<HTMLButtonElement>;
  const resultElement = document.querySelector(
    '[data-weekday]',
  ) as HTMLDivElement;
  const [dateParagraph, weekdayParagraph] = resultElement.querySelectorAll('p');

  [dayInput, monthInput, yearInput].forEach((input) => {
    input.addEventListener('input', () => {
      updateUI();
    });
  });

  dropdownButtons.forEach((button) => {
    button.addEventListener('click', () => {
      yearInput.value = button.innerText;
      updateUI();
    });
  });

  updateUI();

  function updateUI() {
    const day = Number(dayInput.value);
    const month = monthInput.value as keyof typeof Month;
    const year = Number(yearInput.value);
    const weekday = calculateWeekday(day, month, year);
    dateParagraph.innerText = `${month} ${day}, ${year} is `;
    weekdayParagraph.innerText = Weekday[weekday];

    console.log(weekdayParagraph);
    console.log(Weekday[weekday]);
  }
</script>
